<div class="nav-wrapper">
  <div>
    <div class="logo"><img src="/icons/twitter.svg" alt=""></div>
    <nav>
      <ul>
        <NavBar::Links @name="Home" @path="index" @iconPath="/icons/home.svg"/>
        <NavBar::Links @name="Chat" @path="chat" @iconPath="/icons/message.svg" />
      </ul>
    </nav>
  </div>
  <div>
    <Profile @mail="admin@zoho.com" @username="Admin"/>
  </div>
</div>