<div class="post-input-wrapper">
  <img height="30" width="30" src="/icons/user.svg" alt="">
  <Input class="post-input" placeholder="What's happening" @value={{@inputValue}} />
  <button class="post-input-button" {{action this.onClick}}>Tweet</button>
</div>
